[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/SLR-GTk/Package/Reference Videos/

[Bb]uild/
[Bb]uilds/

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db

mono_crash.*
**/mono_crash.*
*.dmp
*.stacktrace
crash*.log
